In [51]:
# from bs4 import BeautifulSoup

with open('desc2021 (1).xml', 'r') as f:
    data = f.read()

# bs_data = BeautifulSoup(data, 'xml')

# b_descriptorname = bs_data.find_all('DescriptorName')

In [2]:
import pandas as pd
import numpy as np
import xml.etree.ElementTree as ET
# from lxml import etree

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [53]:
# parser = etree.XMLParser(recover=True)
# tree = ET.parse('desc2021 (1).xml', parser=parser)
tree = ET.parse('desc2021 (1).xml')
root = tree.getroot()

In [ ]:
# xml = data
# parser = etree.XMLParser(recover=True)
# tree = ET.fromstring(xml, parser=parser)
# value = tree.findall('DescriptorUI')

In [54]:
root.tag

'DescriptorRecordSet'

In [6]:
root.attrib

{'LanguageCode': 'eng'}

In [55]:
i = 0
for child in root:
    i += 1
i

29917

In [ ]:
# chem_id = []
# chem_name = []
# for child in root:
# #     print(child.tag)
#     for c in child.iter('DescriptorUI'):
#         chem_id.append(c.text)
# #         print(c.tag, c.attrib, c.text)
#     for c in child.iter('DescriptorName'):
#         print(c.iter('String'))
#         for s in c.iter('String'):
#             print(s.text)

In [8]:
chemical_names = []
chemical_id = []
for child in root:
    for c in child:
        if c.tag == 'DescriptorUI':
            chemical_id.append(c.text)
        if c.tag == 'DescriptorName':
            for s in c.iter('String'):
                chemical_names.append(s.text)

In [9]:
len(chemical_names)

29917

In [10]:
len(chemical_id)

29917

In [11]:
# make a pd
df = pd.DataFrame(list(zip(chemical_id, chemical_names)), columns = ['id', 'name'])
df

            id                         name
0      D000001                   Calcimycin
1      D000002                      Temefos
2      D000003                    Abattoirs
3      D000004       Abbreviations as Topic
4      D000005                      Abdomen
...        ...                          ...
29912  D066310               Digital Divide
29913  D066328             Ventral Striatum
29914  D066329           Protein Aggregates
29915  D066330  Printing, Three-Dimensional
29916  D066331      Laser-Evoked Potentials

[29917 rows x 2 columns]

In [12]:
# save the df
df.to_csv('desc2021.csv', index=False)

In [ ]:
for child in root:
    for c in child:
        print(c.tag)

In [65]:
i = 0
for child in root:
    if not child.find('TreeNumberList'):
            i += 1
            
#     for c in child:
#         if c.tag == 'TreeNumberList':
#             i += 1
#         print(c.tag)

print(i)

DescriptorRecord
DescriptorRecord
2

In [95]:
desc_id = []
for child in root:
    for c in child.findall('DescriptorUI'):
        desc_id.append(c.text)

In [96]:
len(desc_id)

29917

In [ ]:
desc_id

In [ ]:
names = []
tree_num = []
desc_id = []
for child in root:
    if not child.find('TreeNumberList'):
        continue
        
    for c in child.findall('TreeNumberList'):
        temp = []
        num = c.find('TreeNumber')
        if num is None:
            tree_num.append([])
            continue
        for s in c.iter('TreeNumber'):
            if 'D' not in s.text:
                continue    
            temp.append(s.text)
        
        tree_num.append(temp)
        
    for c in child.findall('DescriptorName'):
        name = c.find('String')
        if name is None:
            continue
        names.append(name.text)
    
    for c in child.findall('DescriptorUI'):
        desc_id.append(c.text)
    
            
#         name = c.find('DescriptorName')
#         names.append()

tree_num

In [72]:
len(tree_num)

29915

In [ ]:
names

In [73]:
len(names)

29915

In [98]:
len(desc_id)

29915

In [ ]:
# build a df of names and tree_num

# convert the list of tree_num to a string
tree_num_s = []
for num in tree_num:
    tree_num_s.append(', '.join(num))

tree_num_s

In [99]:
df_nm_tn = pd.DataFrame(list(zip(names, tree_num_s, desc_id)), columns=['names', 'tree_num', 'desc_id'])
df_nm_tn

,names,tree_num,desc_id
0,Calcimycin,D03.633.100.221.173,D000001
1,Temefos,"D02.705.400.625.800, D02.705.539.345.800, D02....",D000002
2,Abattoirs,,D000003
3,Abbreviations as Topic,,D000004
4,Abdomen,,D000005
...,...,...,...
29910,Digital Divide,,D066310
29911,Ventral Striatum,,D066328
29912,Protein Aggregates,D05.875,D066329
29913,"Printing, Three-Dimensional",,D066330
29914,Laser-Evoked Potentials,,D066331

In [100]:
nan_value = float("NaN")
df_nm_tn.replace('', nan_value, inplace=True)
df_nm_tn.dropna(subset=['tree_num'], inplace=True)

In [101]:
df_nm_tn

,names,tree_num,desc_id
0,Calcimycin,D03.633.100.221.173,D000001
1,Temefos,"D02.705.400.625.800, D02.705.539.345.800, D02....",D000002
16,ABO Blood-Group System,"D23.050.301.290.031, D23.050.705.230.031",D000017
18,Abortifacient Agents,"D27.505.696.875.131, D27.505.954.705.131",D000019
19,"Abortifacient Agents, Nonsteroidal","D27.505.696.875.131.100, D27.505.954.705.131.100",D000020
...,...,...,...
29873,Amphiregulin,"D12.644.276.382.249, D12.776.467.382.249, D12....",D066258
29874,Betacellulin,"D12.644.276.382.374, D12.776.467.382.374, D23....",D066259
29875,Epiregulin,"D12.644.276.382.562, D12.776.467.382.562, D23....",D066260
29876,Epigen,"D12.644.276.382.531, D12.776.467.382.531, D23....",D066261
29912,Protein Aggregates,D05.875,D066329

In [102]:
df_nm_tn.to_csv('names_tree_num.csv', index=False)

### Supplemental data 2021

In [3]:
tree_1 = ET.parse('supp2021.xml')
root_1 = tree_1.getroot()

In [4]:
root_1.tag

'SupplementalRecordSet'

In [87]:
root_1.attrib

{'LanguageCode': 'eng'}

In [ ]:
i = 0
for child in root_1:
    print(child.tag)
    for c in child:
        print(c.tag)
    i += 1

In [ ]:
# get the SupplementalRecordName and SupplementalRecordUI
# HeadingMappedToList-DescriptorReferredTo-DescriptorUI
supp_names = []
supp_ui = []
refer_ui = []

for child in root_1:   
    for c in child.findall('SupplementalRecordUI'):
        supp_ui.append(c.text)
        
    for c in child.findall('SupplementalRecordName'):
        name = c.find('String')
        if name is None:
            continue
        supp_names.append(name.text)

# supp_names
supp_ui

In [104]:
len(supp_names)

317982

In [107]:
len(supp_ui)

317982

In [ ]:
refer_ui = []

for child in root_1:
    for c in child.findall('HeadingMappedToList'):
        temp = []
        for ui in c.iter('DescriptorUI'):
            temp.append(ui.text)
        refer_ui.append(', '.join(temp))

refer_ui

In [124]:
len(refer_ui)

317982

In [ ]:
df_supp = pd.DataFrame(list(zip(supp_names, supp_ui, refer_ui)), columns=['supp_names', 'supp_ui', 'refer_ui'])
df_supp

In [126]:
df_supp.to_csv('supp_names_ui_refer_ui.csv', index=False)

In [127]:
# extract data from pa.xml
tree_2 = ET.parse('pa2021.xml')
root_2 = tree_2.getroot()

In [131]:
root_2.tag

'PharmacologicalActionSet'

In [ ]:
i = 0
for child in root_2:
    print(child.tag)
    for c in child:
        print(c.tag)
    i += 1

In [ ]:
pa_name = []
pa_ui = []
refer_ui = []
refer_names = []

for child in root_2:   
    for c in child.findall('DescriptorReferredTo'):
        ui = c.find('DescriptorUI')
        name = c.find('DescriptorName')
        n = name.find('String')
        
        pa_ui.append(ui.text)
        pa_name.append(n.text)
        
    for c in child.findall('PharmacologicalActionSubstanceList'):
        temp_ui = []
        temp_name = []
        for substance in c.findall('Substance'):
            ui = substance.find('RecordUI')
            temp_ui.append(ui.text)
            
            for n in substance.findall('RecordName'):
                name = n.find('String')
                temp_name.append(name.text)
            
        refer_ui.append(', '.join(temp_ui))    
        refer_names.append(', '.join(temp_name))
            
        
#         refer_ui.append(substance_ui)

refer_names

In [149]:
len(pa_ui)
len(pa_name)

551

551

In [ ]:
refer_ui
len(refer_ui)

In [184]:
# make a df

df_pa = pd.DataFrame(list(zip(pa_name, pa_ui, refer_ui, refer_names)), columns=['pa_name', 'pa_ui', 'refer_ui', 'refer_names'])

In [185]:
df_pa

,pa_name,pa_ui,refer_ui,refer_names
0,14-alpha Demethylase Inhibitors,D058888,"D003022, D004464, D015725, C486878, D017964, D...","Clotrimazole, Econazole, Fluconazole, fosfluco..."
1,5-alpha Reductase Inhibitors,D058891,"C088574, C088478, C031563, C047523, C525135, C...","(22RS-N-1,1,1-trifluoro-2-phenylprop-2-yl)-3-o..."
2,5-Lipoxygenase-Activating Protein Inhibitors,D058946,C078266,MK 0591
3,Abortifacient Agents,D000019,"C030266, C068866, D002260, D015237, C010714, C...","3-(2-ethylphenyl)-5-(3-methoxyphenyl)-1H-1,2,4..."
4,"Abortifacient Agents, Nonsteroidal",D000020,"C030266, D002260, D015237, C010714, C039153, C...","3-(2-ethylphenyl)-5-(3-methoxyphenyl)-1H-1,2,4..."
...,...,...,...,...
546,Vitamins,D014815,"C042533, D015650, D015652, C016705, D000108, C...","1 alpha-hydroxyergocalciferol, 24,25-Dihydroxy..."
547,Voltage-Gated Sodium Channel Agonists,D061585,D000157,Aconitine
548,Voltage-Gated Sodium Channel Blockers,D061567,"D000404, D001073, D004206, C000712258, D016700...","Ajmaline, Aprindine, Disopyramide, DS-1971a, E..."
549,Wakefulness-Promoting Agents,D064690,D000077408,Modafinil
550,"Water Pollutants, Chemical",D014874,C009540,triclocarban

In [186]:
df_pa.to_csv('pa2021.csv', index=False)